/* Global Constants  */
:root{
  --clr-background: white;
  --clr-light: rgb(250, 240, 240);
  --clr-med: rgb(250, 210, 210);
  --clr-dark: rgb(250, 180, 180);
  --clr-text: rgb(69, 69, 69);
  --dim-sm: 12px;
  --dim-med: 48px;
  --dim-lg: 192px;
}

/* ||||||||| Doku Fonts - family, size, weight, align ||||||||| */
* {
  font-family: -apple-system, "Helvetica", "sans-serif";
}

a {
  text-decoration-line: none;
}

#logo {
  font-size: 42px;
  font-family: 'Georgia';
}

.menu-item {
  font-size: 24px;
  text-align: center;
}

.cell > p {
  font-size: 24px;
}

/* ||||||||| Doku Color Schemes - text, background, shadows ||||||||| */
* {
  color: var(--clr-text);
}

.bar.inner {
  background-color: var(--clr-background);
}

.clr-light,
.cell:hover {
  background-color: var(--clr-light);
}

.clr-med,
.menu-item:hover {
  background-color: var(--clr-med);
}

.clr-dark {
  background-color: var(--clr-dark);
}

#opponent-card {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#board {
  border: 2px solid var(--clr-text);
}

.section, .cell {
  border: 1px solid var(--clr-text);
}

/* ||||||||| Doku Paddings, Gaps, & Margins ||||||||| */
.pad-sm {
  padding: var(--dim-sm);
}

.pad-med {
  padding: var(--dim-med);
}

.gap-sm {
  gap: var(--dim-sm);
}

.gap-med {
  gap: var(--dim-med);
}

#opponent-card > h3 {
  width: calc(100% + 2 * var(--dim-sm));
  margin: -12px -12px 0px -12px;
}

/* ||||||||| Doku Sizing - widths & heights ||||||||| */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.stretch {
  width: 100%;
}

.vert-stretch {
  height: 100%;
}

.top {
  height: var(--dim-med);
}

.side {
  width: var(--dim-lg);
}

.bottom {
  height: calc(100vh - var(--dim-med));
}

#credentials > input {
  max-width: 72px;
}

.user > img {
  width: 72px;
  height: auto;
}

.cell {
  width: 4vw;
  height: 4vw;
}

#opponent-card {
  width: 288px;
}

.bar {
  height: var(--dim-sm);
}

.bar.inner {
  width: 69%;
}

/* ||||||||| Doku Borders ||||||||| */
#opponent-card {
  border: 1px solid var(--clr-text);
  border-radius: calc(1.5*var(--dim-sm));
}

#opponent-card > h3 {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#completion {
  border-radius: calc(0.5*var(--dim-sm));
}

.bar {
  border-radius: 12px;
}

/* ||||||||| Doku Layout ||||||||| */
* {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.vert {
  flex-direction: column;
}

.nogrow {
  flex: none;
}

.j-even {
  justify-content: space-between;
}

.j-left {
  justify-content: flex-start;
}

.j-right {
  justify-content: flex-end;
}

#board, .section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* ||||||||| Animations ||||||||| */
.menu-item {
  transition: background-color 150ms;
}