:root{
    --gray:rgb(69, 69, 69);
}

body {
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}

* {
    font-family: -apple-system, "Helvetica", "sans-serif";
}

a {
    color: white;
    text-decoration-line: none;
}

#logo{
    font-size: 64px;
    font-family:'Georgia';
    background-color: var(--gray);
    color: rgb(255, 255, 255);
}

#board {
    text-align: center;
    margin: 10px;
}

#board img{
    height: auto;
    width: 550px;
}

.login {
    max-width: 100px;
}

#navigation {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
    background-color: var(--gray);
    color:rgb(255, 255, 255);
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}

.menu-item-container {
    align-items: center;
}
