:root{
    --dark-background: rgb(247, 223, 223);
    --light-background: rgb(250, 241, 241);
    --text: rgb(69, 69, 69);
}

* {
    font-family: -apple-system, "Helvetica", "sans-serif";
    margin: 0;
    color: var(--text);
}

a {
    text-decoration-line: none;
    color: var(--text);
}

body {
    flex-direction: column;
}

.container {
    display: flex;
}

.container#top {
    align-items: center;
    justify-content: flex-start;
    background-color: var(--dark-background);
    height: 6vh;
}

#logo {
    font-size: 48px;
    font-family: 'Georgia';
    width: 220px;
    text-align: center;
    flex: none;
}

.container.spacer {
    height: inherit;
    flex: 1;
}

.container#nav {
    background-color: var(--light-background);
    flex-direction: column;
    justify-content: center;
    height: 94vh;
    width: 220px;
    gap: 50px;
}

.menu-item {
    flex: 1;
    font-size: 24px;
    text-align: center;
}

p#credentials {
    font-size: 18px;
}

.container#credentials {
    margin-right: 20px;
    gap: 20px;
}

.credential-input {
    max-width: 80px;
}

.container#board {
    padding: 82px;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.board {
    flex: auto;
}

img.board {
    height: 588px;
    width: auto;
}

.container#opponent {
    flex-direction: column;
    border: 1px solid black;
    border-radius: 16px;
    background-color: var(--light-background);
    padding: 10px;
    height: 240px;
}

.icon.user {
    width: 72px;
    height: auto;
}

#opponent > h3 {
    background-color: var(--dark-background);
    text-align: center;
    margin: -10px -10px 24px -10px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 10px;
}

